/********************
        ROOT      *
********************/
:root {
    /*color*/
--color-green-exit:#009688;
--color-gray-exit: #d3dbda;
--color-sky-blue:#8edafc;
--color-gray-header: #eaeaea;
--color-white: #ffffff;
--color-gray-icons: #b1b1b1;
--color-white-button:#f2fbff;
--color-gray-allert:#517789;
--color-white-search:#fafafa;

    /*heigth-contacts*/
    --header: 65px;
    --notification: 70px;
    --search-chat: 40px;
}




/********************
         RESET      *
********************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
}

button {
    border: 0;
}

/********************
        common      *
********************/
.flex {
    display: flex;
}

.header {
    width: 100%;
    height: var(--header);
    background-color:var(--color-gray-header);
    /*debug*/
    border: 1px solid #b1b1b1;
}

/*btn*/
.btn-profile {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    background-color: var(--color-white-button);
    margin: .6rem;
}

.header ul.flex {
    gap: 1rem;
    margin-right: 1.2rem;
} 
.header .icons{
    font-size: 1.2rem;
    color: var(--color-gray-icons);
}
/********************
wrapper    *
********************/

.wrapper {
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, var(--color-green-exit) 15%, var(--color-gray-exit) 15%);
}

.wrapper.flex {
    justify-content: center;
    align-items: center;
}


/********************
container-large   *
********************/

.container-large {
    width: 80%;
    height: 90%;
    max-width: 1000px;
    min-width: 540px;
    margin: 0 auto;
}

/*TABLET*/

@media screen and (max-width: 540px) {
    .wrapper {
        width: 100%;
        height: 100vh;
    }
    
    .container-large {
        width: 100%;
        height: 100%;
    }
}

/********************
       contacts     *
********************/

#contacts {
    height: 100%;
    width: 40%;
    min-width: 300px;
    background-color: var(--color-white);
}

/*CONTACTS HEADER*/

#contacts .header.flex {
    align-items: center;
    justify-content: space-between;
}


.profile {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;

}

/* NOTIFICAZION */

.notification {
    height:var(--notification);
    width: 100%;
    background-color:var(--color-sky-blue) ;
}

.notification.flex {
    align-items: center;
    gap: 1rem;
}

.notification .btn-profile.allert> i {
    color: var(--color-sky-blue);
    font-size: 1.2rem;
}

.notification .allert-text {
    margin-right: 1rem;
}
.notification .allert-text> a{
    color: var(--color-gray-allert);
}


/* SEARCH CHAT */

.search-chat {
    width: 100%;
    height: var(--search-chat);
    background-color: var(--color-white-search) ;
    /*debug*/
    border: 1px solid black;
}

.search-chat.flex {
    align-items: center;
    justify-content: center;
}

.search-chat .search {
    width: 95%;
    height: 75%;
    border: 1px solid rgba(0, 0, 0, 0.071);
}

.search-chat .search.flex {
    align-items: center;
}

.search-chat .search> i{
    margin: 0 1rem;
}

.search-chat .search> input {
    width: 85%;
    height: 100%;
    border: 0;
}







/*contacts-list*/


.contacts-list {
    overflow-y: auto;
    height: calc(100% - (var(--search-chat) + var(--notification) + var(--header)));
}

.card-chat {
    width: 100%;
    /*dubug*/
    background-color:var(--color-white);
    border: 1px solid black;
}

.div-img {
    height: 50px;
    width: 50px;
    background-color: rgb(15, 54, 9);
    border-radius: 50%;
}

/*tablet*/ 
@media screen and (max-width: 540px) {
    #contacts {
        width: 60px;
        min-width: 60px;
          /*de vedere bene al di sotto taglia l'immagine*/
    }    
}

/*mobile*/
@media screen and (max-width: 375px) {
    #contacts {
        display: none;
    }    
}



/********************
       chat         *
********************/

.chat {
    height: 100%;
    width: 60%;
    background-image: url(../img/mine.jpg);
}

.chat.flex {
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer {
    width: 100%;
    height: 10%;
    background-color: var(--color-white);
    /*debuug*/
    border: 1px solid black;
}

/*tablet*/ 
@media screen and (max-width: 540px) {
    .chat {
        width: calc(100% - 60px);
    }    
}

/*mobile*/
@media screen and (max-width: 375px) {
    .chat {
        width: 100%;
    }    
}
  
