/********************
        ROOT      *
********************/
:root {
    /*color*/
--color-green-exit:#009688;
--color-gray-exit: #d3dbda;
--color-sky-blue:#8edafc;
--color-gray-header: #eaeaea;
--color-white: #ffffff;
--color-gray-icons: #b1b1b1;
--color-white-button:#f2fbff;
--color-gray-allert:#517789;
--color-white-search:#fafafa;

    /*heigth-contacts*/
    --header: 65px;
    --notification: 70px;
    --search-chat: 40px;
    --footer-new-message: 65px;

    /*margin*/
    --margin-btn: .6rem;

    /* profile */
    --size-img:50px;
}




/********************
         RESET      *
********************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
}

button {
    border: 0;
    background-color: transparent;
}

body {
    font-family: sans-serif;
}

/********************
        common      *
********************/
.flex {
    display: flex;
}

.relative {
    position: relative;
}

.header {
    width: 100%;
    height: var(--header);
    background-color:var(--color-gray-header);
    /*debug*/
    border: 1px solid #b1b1b1;
}

/*btn*/
.btn-profile {
    height: var(--size-img);
    width: var(--size-img);
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    background-color: var(--color-white-button);
    margin: var(--margin-btn);
}

.header ul.flex {
    gap: 1rem;
    margin-right: 1.2rem;
} 
.header .icons {
    font-size: 1.2rem;
    color: var(--color-gray-icons);
}
/********************
         wrapper    *
********************/

.wrapper {
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, var(--color-green-exit) 15%, var(--color-gray-exit) 15%);
}

.wrapper.flex {
    justify-content: center;
    align-items: center;
}


/********************
container-large   *
********************/

.container-large {
    width: 80%;
    height: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/*TABLET*/

@media screen and (max-width: 992px) {
    .wrapper {
        width: 100%;
        height: 100vh;
    }
    
    .container-large {
        width: 100%;
        height: 100%;
    }
}

/********************
       contacts     *
********************/

#contacts {
    height: 100%;
    width: 40%;
    min-width: 300px;
    background-color: var(--color-white);
}

/*CONTACTS HEADER*/

#contacts .header.flex {
    align-items: center;
    justify-content: space-between;
}


.profile {
    width: var(--size-img);
    height: var(--size-img);
    object-fit: cover;
    border-radius: 50%;
}

/* NOTIFICAZION */

.notification {
    height:var(--notification);
    width: 100%;
    background-color:var(--color-sky-blue) ;
}

.notification.flex {
    align-items: center;
    gap: 1rem;
}

.notification .btn-profile.allert> i {
    color: var(--color-sky-blue);
    font-size: 1.2rem;
}

.notification .allert-text {
    margin-right: 1rem;
}
.notification .allert-text> a {
    color: var(--color-gray-allert);
}


/* SEARCH CHAT */

.search-chat {
    width: 100%;
    height: var(--search-chat);
    background-color: var(--color-white-search) ;
    /*debug*/
    border: 1px solid black;
}

.search-chat.flex {
    align-items: center;
    justify-content: center;
}

.search-chat .search {
    width: 95%;
    height: 75%;
    border: 1px solid rgba(0, 0, 0, 0.071);
}

.search-chat .search.flex {
    align-items: center;
}

.search-chat .search> i {
    margin: 0 1rem;
    color: var(--color-gray-icons);
}

.search-chat .search> input {
    width: 85%;
    height: 100%;
    border: 0;
}

/*contacts-list*/

.contacts-list {
    overflow-y: auto;
    height: calc(100% - (var(--search-chat) + var(--notification) + var(--header)));
}

.card-chat {
    width: 100%;
    background-color:var(--color-white);
    border: 1px solid rgba(0, 0, 0, 0.071);
}

.card-chat.flex {
    align-items: center;
    justify-content: space-between;
}

.profile-card.flex {
    flex-wrap: wrap;
    align-items: center;
    gap: .5rem;
}

.profile-card .profile-text> p {
    font-size: .8rem;
    margin-top: .5rem;
    color: var(--color-gray-icons);
}

.card-chat .time {
    margin: 0 .5rem 1.5rem 0;
    color: var(--color-gray-icons);
    font-size: .8rem;
}

/*tablet*/ 
@media screen and (max-width: 992px) {
    #contacts {
        width: auto; 
        min-width: 0;
    } 
    
    #contacts .header> .icons-list {
        display: none;
    }

    #contacts .notification {
        display: none;
    }

    #contacts .search-chat {
        display: none;
    }

    #contacts .contacts-list 
    .profile-text,
    .time {
        display: none;
    }
    .contacts-list {
        height: calc(100% - var(--header));
        width: 87px;
    }
}

/*mobile*/
@media screen and (max-width: 540px) {
    #contacts {
        display: none;
    }    
}



/********************
       chat         *
********************/

.chat {
    height: 100%;
    width: 60%;
    background-image: url(../img/mine.jpg);
}


/*HEADER*/
#chat .header.flex {
    align-items: center;
    justify-content: space-between;
}

/*CHAT-MAIN*/
#chat .chat-main {
    width: 100%;
     height: calc(100% - (var(--header) + var(--footer-new-message)));
    overflow-y: auto; 
}
#chat .message-main.flex {
    flex-wrap: wrap;
    flex-direction: column;  
}


.chat-main .message{
    width: 300px;
    margin: .5rem 1rem;
    /*debug*/ 
    border: 2px solid black;
}

.chat-main .message.inviato{
    align-self: self-end;
}

.chat-main .message.ricevuto{
    align-self: self-start;
}








.footer {
    width: 100%;
    height: var(--footer-new-message);
    background-color: var(--color-white);
    /*debuug*/
    border: 1px solid black;
}

/*tablet*/ 
@media screen and (max-width: 992px) {
    .chat {
        width: 100%;
    }    
}

/*mobile*/
@media screen and (max-width: 540px) { /*questa cosa è strana*/
    .chat {
        width: 100%;
        height: 100vh;
    }   
    
    #chat .header> .icons-list {
        display: none;
    }
   
}
  
